html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box; }

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 0; }

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto; }

.page-footer-content {
  border-top: 1px solid #337ab7;
  padding: 20px; }

.site-header {
  padding: 50px 0;
  margin: 0;
  background: #ddd; }

/* Loading Spinner */
.page-load-message {
  font-size: 20px;
  display: none; }

.page-load-spinner {
  font-size: 100px;
  margin-top: 40px; }

.loading .page-header, .loading .timeline {
  display: none; }
.loading .page-load-message {
  display: block; }

/* http://bootsnipp.com/snippets/featured/timeline-responsive */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  background: white;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

/*
.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}
*/
.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

/* Show categories by class and other contextual stuff. */
.timeline > .timeline-event {
  display: none; }

.timeline.UFP > .timeline-event.UFP {
  display: list-item; }
.timeline.UFP > .timeline-event.UFP .timeline-badge {
  background: url("../img/ufp_logo.png"); }
.timeline.UFP > .timeline-event.UFP .timeline-panel {
  background: #d9edf7; }
  .timeline.UFP > .timeline-event.UFP .timeline-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.timeline.ST3 > .timeline-event.ST3 {
  display: list-item; }
.timeline.ST3 > .timeline-event.ST3 .timeline-badge {
  background: url("../img/ufp_logo.png"); }
.timeline.ST3 > .timeline-event.ST3 .timeline-panel {
  background: #d9edf7; }
  .timeline.ST3 > .timeline-event.ST3 .timeline-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.timeline.ST4 > .timeline-event.ST4 {
  display: list-item; }
.timeline.ST4 > .timeline-event.ST4 .timeline-badge {
  background: url("../img/ufp_logo.png"); }
.timeline.ST4 > .timeline-event.ST4 .timeline-panel {
  background: #d9edf7; }
  .timeline.ST4 > .timeline-event.ST4 .timeline-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.timeline.KLE > .timeline-event.KLE {
  display: list-item; }
.timeline.KLE > .timeline-event.KLE .timeline-badge {
  background: url("../img/klingon_logo_white.png");
  background-color: #000000;
  background-position-y: -2px;
  border-radius: 50%; }
.timeline.KLE > .timeline-event.KLE .timeline-panel {
  background: #f2dede; }
  .timeline.KLE > .timeline-event.KLE .timeline-panel:after {
    border-left-color: #f2dede;
    border-right-color: #f2dede; }

.timeline.RSA > .timeline-event.RSA {
  display: list-item; }
.timeline.RSA > .timeline-event.RSA .timeline-badge {
  background: url("../img/romulan_logo.png"); }
.timeline.RSA > .timeline-event.RSA .timeline-panel {
  background: #fddefc; }
  .timeline.RSA > .timeline-event.RSA .timeline-panel:after {
    border-left-color: #fddefc;
    border-right-color: #fddefc; }

.timeline.ORC > .timeline-event.ORC {
  display: list-item; }
.timeline.ORC > .timeline-event.ORC .timeline-badge {
  background: url("../img/orion_logo.png"); }
.timeline.ORC > .timeline-event.ORC .timeline-panel {
  background: #ffceb0; }
  .timeline.ORC > .timeline-event.ORC .timeline-panel:after {
    border-left-color: #ffceb0;
    border-right-color: #ffceb0; }

.timeline.SFI > .timeline-event.SFI {
  display: list-item; }
.timeline.SFI > .timeline-event.SFI .timeline-badge {
  background: url("../img/sfi_logo.png"); }
.timeline.SFI > .timeline-event.SFI .timeline-panel {
  background: #dedede; }
  .timeline.SFI > .timeline-event.SFI .timeline-panel:after {
    border-left-color: #dedede;
    border-right-color: #dedede; }

.timeline.ITA > .timeline-event.ITA {
  display: list-item; }
.timeline.ITA > .timeline-event.ITA .timeline-badge {
  background: url("../img/ita_logo.png"); }
.timeline.ITA > .timeline-event.ITA .timeline-panel {
  background: #fcf8e3; }
  .timeline.ITA > .timeline-event.ITA .timeline-panel:after {
    border-left-color: #fcf8e3;
    border-right-color: #fcf8e3; }

.timeline.TRI > .timeline-event.TRI {
  display: list-item; }
.timeline.TRI > .timeline-event.TRI .timeline-badge {
  background: url("../img/mantiev_logo.png"); }
.timeline.TRI > .timeline-event.TRI .timeline-panel {
  background: #fcf8e3; }
  .timeline.TRI > .timeline-event.TRI .timeline-panel:after {
    border-left-color: #fcf8e3;
    border-right-color: #fcf8e3; }

.timeline.RFW > .timeline-event.RFW {
  display: list-item; }
.timeline.RFW > .timeline-event.RFW .timeline-badge {
  background: url("../img/rfw_logo.png"); }
.timeline.RFW > .timeline-event.RFW .timeline-panel {
  background: #fddefc; }
  .timeline.RFW > .timeline-event.RFW .timeline-panel:after {
    border-left-color: #fddefc;
    border-right-color: #fddefc; }

.timeline.FYW > .timeline-event.FYW {
  display: list-item; }
.timeline.FYW > .timeline-event.FYW .timeline-badge {
  background: url("../img/fyw_logo.png"); }
.timeline.FYW > .timeline-event.FYW .timeline-panel {
  background: #f2dede; }
  .timeline.FYW > .timeline-event.FYW .timeline-panel:after {
    border-left-color: #f2dede;
    border-right-color: #f2dede; }

/* More Contextual stuff. */
.timeline.KLE > .timeline-event.KLE.timeline-full-true,
.timeline.RSA > .timeline-event.RSA.timeline-full-true,
.timeline.ORC > .timeline-event.ORC.timeline-full-true {
  display: none; }

.timeline.KLE.KLE-full > .timeline-event.KLE.timeline-full-true,
.timeline.RSA.RSA-full > .timeline-event.RSA.timeline-full-true,
.timeline.ORC.ORC-full > .timeline-event.ORC.timeline-full-true {
  display: list-item; }

.timeline.KLE.KLE-full > .timeline-event.KLE.timeline-full-false,
.timeline.RSA.RSA-full > .timeline-event.RSA.timeline-full-false,
.timeline.ORC.ORC-full > .timeline-event.ORC.timeline-full-false {
  display: none; }

@media (max-width: 767px) {
  /*
  ul.timeline:before {
  	left: 40px;
  }
  */
  .navbar-form {
    margin-top: 0px; }

  ul.timeline > li > .timeline-panel {
    width: 100%;
    margin-top: 90px; }

  ul.timeline > li > .timeline-badge {
    top: 32px; }

  ul.timeline > li > .timeline-panel {
    float: right; }

  ul.timeline > li > .timeline-panel:before {
    border: none;
    /*
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    */ }

  ul.timeline > li > .timeline-panel:after {
    border: none;
    /*
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    */ } }
.navbar-info {
  background-color: #d9edf7;
  border-bottom: 1px solid #337ab7; }

.hr-primary {
  border-top: 1px solid #337ab7; }

.btn > .glyphicon, a > .glyphicon {
  pointer-events: none; }

.row.small-gutters {
  margin-left: 5px;
  margin-right: 5px; }
  .row.small-gutters > [class^="col-"], .row.small-gutters > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.page-header {
  margin-top: 0; }

.list-group:last-child {
  margin-bottom: 0; }

.list-group a.list-group-item {
  cursor: pointer; }

.list-group .list-group-item .btn {
  margin-top: -7px; }

.list-group .list-group-item .btn-sm {
  margin-top: -5px; }

.list-group-item-btn {
  padding-right: 50px; }
  .list-group-item-btn button.btn {
    margin-right: -40px;
    float: right; }

.panel {
  border-radius: 0; }

.label {
  font-weight: normal;
  padding: .3em .7em .4em; }

.trans-left {
  -webkit-transition: left .25s linear;
  transition: left .25s linear; }

.trans-right {
  -webkit-transition: right .25s linear;
  transition: right .25s linear; }

.trans-padding {
  -webkit-transition: padding .25s linear;
  transition: padding .25s linear; }

.trans-bg-position {
  -webkit-transition: background-position .5s linear;
  transition: background-position .5s linear; }

.trans-spin {
  background-position: #ddd;
  -webkit-animation: infiniteSpin 1s linear infinite;
  /* Safari 4+ */
  -moz-animation: infiniteSpin 1s linear infinite;
  /* Fx 5+ */
  -o-animation: infiniteSpin 1s linear infinite;
  /* Opera 12+ */
  animation: infiniteSpin 1s linear infinite;
  /* IE 10+ */ }

@-webkit-keyframes infiniteSpin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes infiniteSpin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes infiniteSpin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }

keyframes infiniteSpin from {
  transform: rotate(0deg); }
keyframes infiniteSpin to {
  transform: rotate(360deg); }

.apply-rhythm {
  margin-bottom: 20px !important; }

.apply-half-rhythm {
  margin-bottom: 10px !important; }

.remove-rhythm {
  margin-bottom: 0px !important; }

.disable-pointer {
  pointer-events: none !important; }

.capitalize {
  text-transform: Capitalize !important; }
