html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box; }

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding-top: 70px;
  padding-bottom: 600px;
  /* Margin bottom by footer height */ }

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto; }

.page-footer-content {
  border-top: 1px solid #337ab7;
  padding: 20px; }

.site-header {
  padding: 50px 0;
  margin: 0;
  background: #ddd; }

/* Loading Spinner */
.page-load {
  font-size: 20px; }

.page-load.assets {
  display: none; }

.page-load-message {
  display: none; }

.page-load-spinner {
  font-size: 100px;
  margin-top: 40px; }

.loading .page-header, .loading .timeline-app {
  display: none; }

.loading .page-load.assets {
  display: block; }

/* http://bootsnipp.com/snippets/featured/timeline-responsive */
.tl-list {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.tl-list:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.tl-list > li {
  margin-bottom: 20px;
  position: relative; }

.tl-list > li:before,
.tl-list > li:after {
  content: " ";
  display: table; }

.tl-list > li:after {
  clear: both; }

.tl-list > li:before,
.tl-list > li:after {
  content: " ";
  display: table; }

.tl-list > li:after {
  clear: both; }

.tl-list > li > .tl-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.tl-list > li > .tl-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.tl-list > li > .tl-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.tl-subtext .glyphicon {
  margin-right: 7px; }

.tl-list > li > .tl-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100; }

.tl-list > li.tl-inverted > .tl-panel {
  float: right; }

.tl-list > li.tl-inverted > .tl-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.tl-list > li.tl-inverted > .tl-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

/*
.tl-badge.primary {
	background-color: #2e6da4 !important;
}

.tl-badge.success {
	background-color: #3f903f !important;
}

.tl-badge.warning {
	background-color: #f0ad4e !important;
}

.tl-badge.danger {
	background-color: #d9534f !important;
}

.tl-badge.info {
	background-color: #5bc0de !important;
}
*/
.tl-title {
  margin-top: 0;
  color: inherit; }

.tl-body > p,
.tl-body > ul {
  margin-bottom: 0; }

.tl-body > p + p {
  margin-top: 5px; }

/* Show categories by class and other contextual stuff. */
.tl-list > .tl-entry {
  display: none; }

.tl-list.UFP > .tl-entry.UFP {
  display: list-item; }

.tl-list.UFP > .tl-entry.UFP .tl-badge {
  background: url("../img/ufp_logo.png"); }

.tl-list.UFP > .tl-entry.UFP .tl-panel {
  background: #d9edf7; }
  .tl-list.UFP > .tl-entry.UFP .tl-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.tl-list.ST3 > .tl-entry.ST3 {
  display: list-item; }

.tl-list.ST3 > .tl-entry.ST3 .tl-badge {
  background: url("../img/ufp_logo.png"); }

.tl-list.ST3 > .tl-entry.ST3 .tl-panel {
  background: #d9edf7; }
  .tl-list.ST3 > .tl-entry.ST3 .tl-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.tl-list.ST4 > .tl-entry.ST4 {
  display: list-item; }

.tl-list.ST4 > .tl-entry.ST4 .tl-badge {
  background: url("../img/ufp_logo.png"); }

.tl-list.ST4 > .tl-entry.ST4 .tl-panel {
  background: #d9edf7; }
  .tl-list.ST4 > .tl-entry.ST4 .tl-panel:after {
    border-left-color: #d9edf7;
    border-right-color: #d9edf7; }

.tl-list.KLE > .tl-entry.KLE {
  display: list-item; }

.tl-list.KLE > .tl-entry.KLE .tl-badge {
  background: url("../img/klingon_logo_white.png");
  background-color: #000000;
  background-position-y: -2px;
  border-radius: 50%; }

.tl-list.KLE > .tl-entry.KLE .tl-panel {
  background: #f2dede; }
  .tl-list.KLE > .tl-entry.KLE .tl-panel:after {
    border-left-color: #f2dede;
    border-right-color: #f2dede; }

.tl-list.RSA > .tl-entry.RSA {
  display: list-item; }

.tl-list.RSA > .tl-entry.RSA .tl-badge {
  background: url("../img/romulan_logo.png"); }

.tl-list.RSA > .tl-entry.RSA .tl-panel {
  background: #FDDEFC; }
  .tl-list.RSA > .tl-entry.RSA .tl-panel:after {
    border-left-color: #FDDEFC;
    border-right-color: #FDDEFC; }

.tl-list.ORC > .tl-entry.ORC {
  display: list-item; }

.tl-list.ORC > .tl-entry.ORC .tl-badge {
  background: url("../img/orion_logo.png"); }

.tl-list.ORC > .tl-entry.ORC .tl-panel {
  background: #ffceb0; }
  .tl-list.ORC > .tl-entry.ORC .tl-panel:after {
    border-left-color: #ffceb0;
    border-right-color: #ffceb0; }

.tl-list.SFI > .tl-entry.SFI {
  display: list-item; }

.tl-list.SFI > .tl-entry.SFI .tl-badge {
  background: url("../img/sfi_logo.png"); }

.tl-list.SFI > .tl-entry.SFI .tl-panel {
  background: #dedede; }
  .tl-list.SFI > .tl-entry.SFI .tl-panel:after {
    border-left-color: #dedede;
    border-right-color: #dedede; }

.tl-list.ITA > .tl-entry.ITA {
  display: list-item; }

.tl-list.ITA > .tl-entry.ITA .tl-badge {
  background: url("../img/ita_logo.png"); }

.tl-list.ITA > .tl-entry.ITA .tl-panel {
  background: #fcf8e3; }
  .tl-list.ITA > .tl-entry.ITA .tl-panel:after {
    border-left-color: #fcf8e3;
    border-right-color: #fcf8e3; }

.tl-list.TRI > .tl-entry.TRI {
  display: list-item; }

.tl-list.TRI > .tl-entry.TRI .tl-badge {
  background: url("../img/mantiev_logo.png"); }

.tl-list.TRI > .tl-entry.TRI .tl-panel {
  background: #fcf8e3; }
  .tl-list.TRI > .tl-entry.TRI .tl-panel:after {
    border-left-color: #fcf8e3;
    border-right-color: #fcf8e3; }

.tl-list.RFW > .tl-entry.RFW {
  display: list-item; }

.tl-list.RFW > .tl-entry.RFW .tl-badge {
  background: url("../img/rfw_logo.png"); }

.tl-list.RFW > .tl-entry.RFW .tl-panel {
  background: #FDDEFC; }
  .tl-list.RFW > .tl-entry.RFW .tl-panel:after {
    border-left-color: #FDDEFC;
    border-right-color: #FDDEFC; }

.tl-list.FYW > .tl-entry.FYW {
  display: list-item; }

.tl-list.FYW > .tl-entry.FYW .tl-badge {
  background: url("../img/fyw_logo.png"); }

.tl-list.FYW > .tl-entry.FYW .tl-panel {
  background: #f2dede; }
  .tl-list.FYW > .tl-entry.FYW .tl-panel:after {
    border-left-color: #f2dede;
    border-right-color: #f2dede; }

/* More Contextual stuff. */
.tl-list.KLE > .tl-entry.KLE.tl-full-true,
.tl-list.RSA > .tl-entry.RSA.tl-full-true,
.tl-list.ORC > .tl-entry.ORC.tl-full-true {
  display: none; }

.tl-list.KLE.KLE-full > .tl-entry.KLE.tl-full-true,
.tl-list.RSA.RSA-full > .tl-entry.RSA.tl-full-true,
.tl-list.ORC.ORC-full > .tl-entry.ORC.tl-full-true {
  display: list-item; }

.tl-list.KLE.KLE-full > .tl-entry.KLE.tl-full-false,
.tl-list.RSA.RSA-full > .tl-entry.RSA.tl-full-false,
.tl-list.ORC.ORC-full > .tl-entry.ORC.tl-full-false {
  display: none; }

@media (max-width: 767px) {
  /*
	ul.tl-list:before {
		left: 40px;
	}
	*/
  .navbar-form {
    margin-top: 0px; }
  ul.tl-list > li > .tl-panel {
    width: 100%;
    margin-top: 90px; }
  ul.tl-list > li > .tl-badge {
    top: 32px; }
  ul.tl-list > li > .tl-panel {
    float: right; }
  ul.tl-list > li > .tl-panel:before {
    border: none;
    /*
			border-left-width: 0;
			border-right-width: 15px;
			left: -15px;
			right: auto;
			*/ }
  ul.tl-list > li > .tl-panel:after {
    border: none;
    /*
			border-left-width: 0;
			border-right-width: 14px;
			left: -14px;
			right: auto;
			*/ } }

.navbar-info {
  background-color: #d9edf7;
  border-bottom: 1px solid #337ab7; }

.hr-primary {
  border-top: 1px solid #337ab7; }

.btn > .glyphicon, a > .glyphicon {
  pointer-events: none; }

.row.small-gutters {
  margin-left: 5px;
  margin-right: 5px; }
  .row.small-gutters > [class^="col-"], .row.small-gutters > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.page-header {
  margin-top: 0; }

.list-group:last-child {
  margin-bottom: 0; }

.list-group a.list-group-item {
  cursor: pointer; }

.list-group .list-group-item .btn {
  margin-top: -7px; }

.list-group .list-group-item .btn-sm {
  margin-top: -5px; }

.list-group-item-btn {
  padding-right: 50px; }
  .list-group-item-btn button.btn {
    margin-right: -40px;
    float: right; }

.panel {
  border-radius: 0; }

.label {
  font-weight: normal;
  padding: .3em .7em .4em; }

.btn-toolbar {
  margin-left: 0; }

.btn-toolbar > .btn-group, span.label {
  display: inline-block;
  margin: 6px 6px 0 0; }

/* Active buttons should be darker. */
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  background-color: #1c4467;
  border-color: #122c42; }

.btn-warning.active, .btn-warning:active, .open > .dropdown-toggle.btn-warning {
  background-color: #b77416;
  border-color: #A5660C; }

.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger {
  background-color: #9e2623;
  border-color: #86201d; }

.trans-left {
  -webkit-transition: left .25s linear;
  transition: left .25s linear; }

.trans-right {
  -webkit-transition: right .25s linear;
  transition: right .25s linear; }

.trans-padding {
  -webkit-transition: padding .25s linear;
  transition: padding .25s linear; }

.trans-bg-position {
  -webkit-transition: background-position .5s linear;
  transition: background-position .5s linear; }

.trans-up-down {
  animation: upDown 1s linear infinite;
  /* IE 10+ */ }

.trans-spin {
  -webkit-animation: infiniteSpin 1s linear infinite;
  /* Safari 4+ */
  -moz-animation: infiniteSpin 1s linear infinite;
  /* Fx 5+ */
  -o-animation: infiniteSpin 1s linear infinite;
  /* Opera 12+ */
  animation: infiniteSpin 1s linear infinite;
  /* IE 10+ */ }

@-webkit-keyframes infiniteSpin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes infiniteSpin {
  from {
    -o-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes infiniteSpin {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg); } }

keyframes infiniteSpin from {
  transform: rotate(0deg); }

keyframes infiniteSpin to {
  transform: rotate(360deg); }

@-webkit-keyframes upDown {
  0% {
    top: 1px; }
  25% {
    top: -5px; }
  75% {
    top: 5px; }
  100% {
    top: 1px; } }

@-moz-keyframes upDown {
  0% {
    top: 1px; }
  25% {
    top: -5px; }
  75% {
    top: 5px; }
  100% {
    top: 1px; } }

@keyframes upDown {
  0% {
    top: 1px; }
  25% {
    top: -5px; }
  75% {
    top: 5px; }
  100% {
    top: 1px; } }

.apply-rhythm {
  margin-bottom: 20px !important; }

.apply-half-rhythm {
  margin-bottom: 10px !important; }

.remove-rhythm {
  margin-bottom: 0px !important; }

.disable-pointer {
  pointer-events: none !important; }

.capitalize {
  text-transform: Capitalize !important; }
