.apply-rhythm {
	margin-bottom: 20px!important;
}
.apply-half-rhythm {
	margin-bottom: 10px!important;
}
.remove-rhythm {
	margin-bottom: 0px!important;
}
.disable-pointer {
	pointer-events:none!important;
}
.wa-capitalize {
	text-transform:Capitalize!important;
}